html,
body,
#root {
  height: 100%;
  margin: 0;
}

#root {
  font-family: sans-serif;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 70px 1fr;
  grid-template-areas:
    "head head"
    "sidebar main";
}
/* header style */
.head {
  grid-area: head;
  display: grid;
  grid-template-areas: "currentDate menu simpleSearch";
  grid-template-columns: 1fr 3fr 1fr;
}

.currentDate {
  grid-area: currentDate;
  font-size: 6vh;
}
.menu {
  grid-area: menu;
  
}
.simpleSearch {
  grid-area: simpleSearch;
  text-align: center;
}
/* sidebar style */
.sidebar {
  height:100%;
  
  grid-area: sidebar;
  display: grid;
  grid-template-areas:
    "upcoming"
    "list"
    "tag";
  grid-template-rows: auto 1fr 1fr;
}

.upcoming {
  grid-area: upcoming;
}

.list { 
  grid-area: list;
}
.tag {
  grid-area: tag;
}

.listSection{
  max-height: 200px;
  overflow: auto;
}

.tagSection{

  max-height: 200px;
  overflow: auto;

}
/* main content style */
.main {
  grid-area: main;
 
}

.form {
  display: grid;
  grid-template-areas: "firstCol secondCol";
  grid-template-columns: 1fr 1fr;
}
.firstCol {
  grid-area: firstCol;
  display: grid;
  margin: 2em;
}

.secondCol {
  grid-area: secondCol;
  display: grid;
  margin: 2em;
}
